################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ColpatriaSAI.ServidorDB/ColpatriaSAI.ServidorDB.dbmdl
